html, html body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;

    .bg-h {

        .sky {
            background-color: #673ab7;
            width: 100%;
            height: 100%;
        }
    }
}